

h2{
    text-align: center;
    background-color:white ;
    height: 50px;
    line-height: 50px;
    color: green;
     
}
p{
     font-size: 13pt;
     color:black;
   padding: 2px;
}
.lists  ul li{
   font-size: 14pt;
    color: black;
}
.lists ol li{
    font-size: 14pt;
     color: black;
}
.lists{
    border:1px solid grey;
    border-radius: 8px;
    background-color: white;
    padding: 2px;
}
.pic{
    background-image: url("../IMG/Juri.jpg");
    background-repeat: no-repeat;
    border:1px solid grey;
    border-radius: 8px;
    height: 1100px;
    background-size: cover;
    background-position: center;
    
    
}

