
       .container{
           height: 99%;
           
           background-color: white;
           border: 1px transparent;
           border-bottom-color: black;
    
          }
                          

.tab {
    overflow: hidden;
    border: 1px transparent;
    background-color: deepskyblue;
    margin-right: 10em;
    margin-left: 10em;
     vertical-align: middle;
    
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: deepskyblue;
    margin-left :1em;
    border: none;
    outline: none;
    cursor: pointer;
    height: 50px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    
    transition: 0.3s;
    color: white;
    width: 170px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: grey;
    color:white;
}

/* Create an active/current tablink class */
.tab button.active {
   background-color: #b9b992;
    color:white;
}

/* Style the tab content */
.tabcontent {
    display: none;
    
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
    background-color:#b9b992;
    color: black;
   padding-top: 10px;
    margin-left:10em;
    margin-right: 10em;
}
.tabcontent table{
       color: black;
       background-color: #b9b992;
       background-size: cover;
       font-size: 18px;
      
       
    
}
.tabcontent button{
    background-color:  deepskyblue;
    font-size: 20px;
    border: 1px transparent;
    outline: none;
    cursor: pointer;
    padding: 14px 14px;
    transition: 0.3s;
    color:white;
       
}



.nav2 {
    overflow: hidden;
 }

/* Style the buttons that are used to open the tab content */
.nav2 button {
   font-size: 15px;
   width: 120px;
    height: 60px;
    border-radius: 75px;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: black;
    background-color:deepskyblue;
}


/* Change background color of buttons on hover */
.nav2 button:hover {
    background-color: black;
    color: white;
    outline: none;
    
        
}

/* Create an active/current tablink class */
.nav2 button.active {
    background-color:black;
    color:white;
}
.nav2 tr:hover{
    background-image: url("../IMG/bg2.jpg");
}


.navbuttons{
    padding:10;
}
button{
    width: 200px;
    border: 1px solid transparent;
    cursor:pointer;
    border-radius: 5px;
    font-size: 20px;
    margin-right: 8px;
    background-color: deepskyblue;
}
ul li{
    list-style: none;
    padding: 5px;
    margin: 5px;
   text-align:center;
 }


ul{
    padding-left:0px; 
    border: 2px transparent ;
   text-align:center;
    background-color:white;
}




